* {
  padding: 0;
  margin: 0;
  font: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font: 15px/1.5 Verdana, sans-serif; }

*:focus {
  outline: none; }

body {
  position: relative;
  margin-top: 3em;
  margin-bottom: 3em;
  background: #eeeeee; }

canvas {
  display: block; }

.justface {
  display: inline-block; }

.step {
  display: inline-block;
  vertical-align: top; }

#wrapper {
  position: relative;
  display: none; }
  .debug #wrapper {
    display: block; }
  #wrapper video, #wrapper canvas {
    max-width: 300px;
    max-height: 300px; }

#controls {
  color: blue;
  padding: 15px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: 250px;
  -webkit-user-select: none;
  opacity: 0.6; }
  .debug #controls {
    opacity: 1; }

button {
  cursor: pointer;
  border: 0;
  background: #dddddd;
  display: block;
  width: 100%;
  padding: 10px; }

#playpause {
  background: transparent;
  color: blue;
  border: 1px solid blue;
  border-radius: 3px; }
  #playpause:hover {
    color: white;
    background: blue; }

.col {
  margin-bottom: 2em; }
  .col:last-child {
    border-right: 0; }

label {
  display: block;
  line-height: 20px; }

progress[value], input[type="range"] {
  -webkit-appearance: none !important;
  margin-right: 10px;
  height: 2px;
  width: 150px;
  background: blue; }
  progress[value]:focus, input[type="range"]:focus {
    outline: none; }

@-webkit-keyframes countdown {
  0% {
    background: brown;
    width: 100%; }

  100% {
    background: brown;
    width: 0%; } }

h2 {
  margin-bottom: 0.5em; }

progress[value] {
  background: transparent;
  border: 1px solid blue;
  border-radius: 3px;
  height: 20px;
  width: 100%; }
  progress[value]::-webkit-progress-bar {
    background: transparent;
    border-radius: 3px; }
  progress[value]::-webkit-progress-value {
    background: blue;
    border-radius: 3px; }
  progress[value].paused::-webkit-progress-bar {
    -webkit-animation: countdown 10s 1; }

#facesizeprogress::-webkit-progress-value {
  background: #999999; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: white;
  border: 1px solid blue;
  border-radius: 50%; }

h1 {
  font: 400 25px/1.2 brown;
  margin-top: 1.5em;
  margin-bottom: 0.3em;
  padding: 0 15px; }

.top {
  margin-top: 0;
  padding-top: 0.8em; }

.labeltext {
  font: 12px/1.5 Akkurat-Mono;
  padding: 0 15px 2em;
  border-bottom: 1px dotted black; }

.logo, .logo-white {
  margin: 0 15px;
  height: 0;
  display: none;
  z-index: 999;
  position: relative; }
  .logo img, .logo-white img {
    display: block;
    position: relative;
    top: -20px;
    width: 100%; }
  .logo.logo-first, .logo-white.logo-first {
    margin-top: 2.5em;
    display: block; }
  .logo.logo-last, .logo-white.logo-last {
    margin-bottom: 1em;
    display: block; }

#printable {
  margin: auto;
  width: 100%;
  max-width: 240px;
  background: white; }
  #printable canvas {
    max-width: 100%; }

.dither {
  display: none;
  margin-bottom: 5px; }
  .dither.visible {
    display: block; }

[data-rotate='9'] {
  -webkit-transform: rotate(0deg); }

[data-rotate='1'] {
  -webkit-transform: rotate(90deg); }

[data-rotate='2'] {
  -webkit-transform: rotate(180deg); }

[data-rotate='3'] {
  -webkit-transform: rotate(270deg); }

.visible ~ .visible + .logo {
  display: block; }

@media print {
  body {
    margin: 0;
    background: transparent; }

  #controls, #wrapper {
    display: none !important; }

  #printable {
    padding: 0in; } }
